body{
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjJiYXRjaDUta3VsLTAzLmpwZw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}
#bordercolor{
    border-color:black;
}